/Objetos/RepasoPoo/Ej01Repaso/nbproject/private/
/Objetos/RepasoPoo/Ej01Repaso/build/
/Objetos/RepasoPoo/Ej02Repaso/nbproject/private/
/Objetos/RepasoPoo/Ej02Repaso/build/
/Objetos/RepasoPoo/Ej03Repaso/nbproject/private/
/Objetos/RepasoPoo/Ej03Repaso/build/